<h2>Overview &amp; Requirements for Final Deliverable</h2>

<p>A protocol is like a recipe - it tells you what ingredients, tools, and steps are necessary to produce an end result. So just as you would follow a recipe to bake a cake, you might also follow a protocol to archive, share, or reuse data. In Data Curation I you created a simple protocol for a single dataset. In Data Curation II we have significantly more knowledge and skills to develop a more robust curation protocol. Over the course of the quarter you will complete a group or individual project focused on developing a robust protocol for curating a collection of open data. The topic, the audience, the type of data, and the curation tools required are all up for you to decide (note: examples provided below).&nbsp;</p>
<p><strong>Goals</strong></p>
<ul>
    <li>Gain experience curating open data &ldquo;in the wild&rdquo; (e.g.&nbsp;on the web).</li>
    <li>Demonstrate competency in producing or identifying existing best practices for curating various types of data.</li>
    <li>Practice creating structured and unstructured documentation that improves the accessibility and usability of data.</li>
    <li>Develop a protocol that shows off your talents and can act as a portfolio for future professional activity.</li>
</ul>
<p><strong>Final Deliverable</strong></p>
<p>Your final deliverable will include the following components. Each week you will complete an assignment that helps you think through each of these components:</p>
<ol style="list-style-type: decimal;">
    <li><a href="https://norlab.github.io/LIS-546-SPR2021/assignments/02_assignment_data_pitch" target="_blank">Project Pitch</a>: to help you find a project group (groups are recommended but not required)</li>
    <li><a href="https://norlab.github.io/LIS-546-SPR2021/assignments/03_assignment_statement_of_work" target="_blank">Statement of Work</a>: Project definition, scope, and audience</li>
    <li><a href="https://norlab.github.io/LIS-546-SPR2021/assignments/04_assignment_users_and_uses" target="_blank">Users and User Stories</a></li>
    <li><a href="https://norlab.github.io/LIS-546-SPR2021/assignments/05_assignment_collection_policies" target="_blank">Collection Policies</a></li>
    <li><a href="https://norlab.github.io/LIS-546-SPR2021/assignments/06_assignment_transformations_and_quality" target="_blank">Transformations and Data Quality</a></li>
    <li><a href="https://norlab.github.io/LIS-546-SPR2021/assignments/07_assignment_metadata" target="_blank">Metadata Application Profile</a></li>
    <li><a href="https://norlab.github.io/LIS-546-SPR2021/assignments/08_assignment_licensing" target="_blank">Licensing</a></li>
    <li>At least, read through the <a href="https://norlab.github.io/LIS-546-SPR2021/assignments/09_assignment_repo_arch_OPTIONAL" target="_blank">Repository Architectures Optional Assignment</a></li>
</ol>
<p>You will be required to produce a written report that <em>coherently</em> brings together each of the pieces described above. As stated above, each week you will complete an assignment that helps you practice and produce a portion of your report. You should, with minimal additional effort, be able to simply combine these assignments into one single document and hand it in (along with your data) for a complete protocol. Additional information that you choose to include is left to your discretion. The only requirement is to include - at minimum - the elements above.</p>
<p><strong>Form of Final Deliverable</strong></p>
<p>Your final deliverable can take many forms. You can, as the examples below demonstrate, deposit data in an open platform (e.g.&nbsp;Github) and supplement the collection with written documentation. You could also pitch another idea. I am completely open to innovations with this assignment - the only requirements are that you engage with the concepts we are discussing in class, and try to somehow implement these in a real world setting.</p>
<p><strong>Presentation</strong></p>
<p>In Week 10 you will be given the opportunity to present a 5-10 minute overview of your protocol. This is optional but highly encouraged. Presentations should explain design choices around each aspect of your final deliverable. How formal you make the presentation (slides, prepared talking points, interpretive dance, etc.) is up to your group. I understand that presentations of this type can sometimes be difficult for a variety of reasons. As such, I will not grade these informal presentations but I highly encourage them for three reasons:</p>
<ol>
    <li>Many of you will be expected to present regularly in your jobs and all practice is good practice.</li>
    <li>You can share the presentation as part of a portfolio.</li>
    <li>I may better understand your final protocol after viewing your presentation.</li>
</ol>
<p><strong>Example Protocols</strong></p>
<p>Here are some examples of previous Data Curation 2 protocols:</p>
<ul>
    <li>Flattened Fauna: <a href="https://github.com/amckennafoster/flattenedfauna">Repository</a> and <a href="https://flattenedfauna.gitbook.io/practice-space/">Project Report</a>
    </li>
    <li>VaxStats: <a href="https://github.com/kthrog/VaxStats">Repository</a> and <a href="https://vaxstats.gitbook.io/vax-stats/">Project Report</a>
    </li>
    <li>R3 Recycling: <a href="https://github.com/RochelleLundy/INFX-551-Spring2017/tree/master/r3Recycling">Repository</a> and <a href="https://rochellelundy.gitbooks.io/r3-recycling-repository/content/">Project Report</a> (Note the lead author on this repository used it as a portfolio for her current job as a data curator)&nbsp;</li>
</ul>

