<div class="col col-1" style="color: #8a6d3b ;font-weight: bold;" data-label="Event">Due</div>
<div class="col col-1-2" style="font-weight: bold" data-label="Date">
    {{ event.date | date: site.dateformat }}
    {{ event.date | date: "%H:%M" }}
    <br class="date-spliter" />{{ event.date | date: "%A" }}
</div>
<div class="col col-2" style="font-weight: bold" data-label="Description">
    {% if include.event.url != '' %}
        {% if include.event.url contains '://' %}
          <a href="{{ include.event.url }}">{{ include.event.description }}</a>
        {% else %}
          <a href="{{ include.event.url | prepend: site.baseurl}}">{{ include.event.description }}</a>
        {% endif %}
    {% else %}
    {{ include.event.description }}
    {% endif %}
</div>
<div class="col col-4 markdown-content" data-label="Course Material">
    {% if include.event.content != '' %}
    {{ event.content }}
    {% endif %}
</div>
